.container{
    margin-bottom: 60px;
}
.carouusel-item{
    padding: 20px 40px;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #1d1015 0%, #0f0d0e 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 7px 7px 10px lightgray;
}
.Categorie{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
}